<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>My Pages</title>
</head>
<body>
  {% block body %}
    <a href="https://lh3.googleusercontent.com/M-FxPga9Urw0dn2NV_gynMyE8m9Doedg4Q0qMrh-WdzEp8QtgQrw-b3S5uV77WinQDPJEDdwXYHnU3P725AcUnPHKbkT7uj0F2Jb15QlEgQY5J44EfuXKkzZ0FiqJ9xSuSJvssAJBw=w2400?source=screenshot.guru"> <img src="https://lh3.googleusercontent.com/M-FxPga9Urw0dn2NV_gynMyE8m9Doedg4Q0qMrh-WdzEp8QtgQrw-b3S5uV77WinQDPJEDdwXYHnU3P725AcUnPHKbkT7uj0F2Jb15QlEgQY5J44EfuXKkzZ0FiqJ9xSuSJvssAJBw=w600-h315-p-k" width="300" /> </a>
    <h1>Welcome To My Page</h1>
  {% endblock %}
</body>
</html>